doctype html
html
    head
        meta(charset='utf-8')
        title

        link(href='style.css' rel='stylesheet')
        script(src='visibility.js')
    body
        canvas#canvas(width='640' height='360')
        script(src='main.js')
